.hatena-star-star-container {
    font-size: 18px;
}

.hatena-star-comment-button {
    width: 44px;
    height: 30px;
}

.hatena-star-add-button {
    width: 32px;
    height: 32px;
    margin: 1px !important;
}

.hatena-star-add-button-image {
    background-image: url(http://cdn.www.st-hatena.com/images/one/touch/star_button_small2@2x.png);
}


.hatena-big-star-star-container {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    margin: 1px;
    vertical-align: middle;
    border-radius: 2px;
    overflow: hidden;
}

.hatena-big-star-user {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px !important;
    z-index: 100;
    border-radius: 3px;
}

.hatena-big-star-star {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px !important;
    z-index: 110;
    background: rgba(255, 255, 255, 0.6);
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
